<%- include("header") -%>

<div style="text-align: center;">
    <div>
      <h1 style="color: brown;">Hey! there is this is about page .</h1>
      <p>This is some random text to be filled in about section .</p>
    </div>
  </div>
<%- include("footer") -%>  